@font-face {
  font-family: Libre Franklin;
  src: url(/static/LibreFranklin-Bold.ttf);
}
body {
  font-size: 20px;
  text-align: center;
}
h1 {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
  font-size: 40px;
}
span {
  font-family: Libre Franklin;
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}
#grid {
  text-align: center;
}
.logo {
  height: 20px;
  width: 40px;
}
p {
  text-align: center;
  font-size: 300;
}
input {
  border-radius: 20px;
  padding: 10px;
  font-family: Libre Franklin;
}
button {
  background-color: hsl(223, 87%, 63%);
  border-radius: 50px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 600;
}
i {
  color: hsl(223, 87%, 63%);
}
/* p i {
  color:
} */

.illustration {
  height: 80%;
  width: 50%;
}
